@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here

body {
  background: url(https://images.unsplash.com/photo-1533875616-f804380c6b6e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

#site-title {
  display:flex;
  justify-content: center;
  font-family: 'Didot', sans-serif;
  align-items: center;
  color: salmon;
  height: 60vh;
}

.menu {
  color : whitesmoke;
  font-family: 'Didot', sans-serif;
}

.reg-form {
  font-family: 'Didot', sans-serif;
}