@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import 'antd/dist/antd.css';
// place global css here

[data-theme="compact"] p, p {
  margin: 0;
}

body {
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.reg-form-background {
  background: url(https://around-the-block.s3.amazonaws.com/children-playing.png);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  background-position-y: 7vh;
  background-repeat: no-repeat;
  background-color:white;
}

.reg-form-position {
  display:flex;
  justify-content: center;
  align-items: center;
  height: center;
  width: center;
  padding-top: 7.5%;
  text-align: center;
}

.reg-form-text {
  color: #08142c;
}

.search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

:root {
  --reach-combobox: 1;
}

[data-reach-combobox-popover] {
  border: solid 1px hsla(0, 0%, 0%, 0.25);
  background: hsla(0, 100%, 100%, 0.99);
  font-size: 85%;
}

[data-reach-combobox-list] {
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

[data-reach-combobox-option] {
  cursor: pointer;
  margin: 0;
  padding: 0.25rem 0.5rem;
}

[data-reach-combobox-option][aria-selected="true"] {
  background: hsl(211, 10%, 95%);
}

[data-reach-combobox-option]:hover {
  background: hsl(211, 10%, 92%);
}

[data-reach-combobox-option][aria-selected="true"]:hover {
  background: hsl(211, 10%, 90%);
}

[data-suggested-value] {
  font-weight: bold;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #001529;
  outline: none;
  transition: border .24s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.fetched-window {
  width: 280px;
}

.infowindow-photo {
  object-fit: cover;
  width: 272px;
  height: 272px;
}

.infophoto-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.locate {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  background: none;
  border: none;
  z-index: 10;
}

.locate img {
  width: 2.7rem;
  cursor: pointer;
}

.logo img {
  height: 55px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-header {
  color: white;
  background: white;
}

.ant-menu-horizontal {
  border-bottom: 0px;
}

.landing-page {
  background: url(https://around-the-block.s3.amazonaws.com/landing-photo-edited.png);
  background-size: contain;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 75vh;
  background-position: bottom;
  margin: 0 5em 5em;
  background-color: white;
  padding: 24px;
}

.landing-text {
  line-height: .84;
  padding-top: 2.5vh;
  margin-left: -28px;
}

.landing-title {
  font: 700 15px/1 sofia-pro,sans-serif;
  color: #365ca3;
  letter-spacing: -4px;
  font-size: 62px;
  align-items: top;
  margin: 0 auto 15px;
  line-height: .84;
  word-spacing:-10px;
}

.landing-subheader {
  font-family: sofia-pro,sans-serif;
  font-size: 20px;
  color: #08142c;
  align-items: center;
  padding-left: 5px;
  padding-bottom: 13px;
}

.get-started-button {
  align-items: center;
}

.get-started-text {
  font-size: 30px;
}

.landing-subsection {
  background-color: white;
  margin: 0 7em;
}

.subsection-title {
  font: 600 15px/1 sofia-pro,sans-serif;
  color: #365ca3;
  letter-spacing: -3px;
  font-size: 40px;
}

.landing-subsection img {
  margin-bottom: 50px;
  max-height: 270px;
}

.subsection p {
  font-size: 18px;
  margin-bottom: 50px;
}

.subsection-img-div {
  align-self: center;
}

.dev-card {
  align-items: center;
  justify-content: center;
}

.dev-card img {
  margin: 0;
  width: 150px;
  border-radius: 150px
}

.footer-title {
  color: #365ca3;
}

.form {
  max-height: 300px;
  max-width: 300px;
}

.custom-icons-list > .anticon {
  margin-right: 6px;
}
.ant-row-rtl .custom-icons-list > .anticon {
  margin-right: 0;
  margin-left: 6px;
}

.rounded-button {
  border-radius: 5px;
}

.rounded-button-extra {
  border-radius: 80px;
  padding: 0.7em 1.5em;
}

.grid-container {
    display: "grid";
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 98%;
}

.grid-container-photomap {
  display: "grid";
  padding-right: 0.675rem;
  max-width: 100%;
}

.map-legend-text {
  color: white;
}

.map-legend-icon {
  height: 16px;
}

.map-legend-marker {
  width: 14.5px;
}

.attr-text {
  font-size: 9px;
}